<div ng-controller="MainController">
	<div class="jumbotron text-center" ng-if="!loggedIn">
		<div class="">
			<h1>If you have balls Sing up!</h1>
		</div>
		<div class="">
			<p>
				Login to write you story
			</p>
			<a href="/login" class="btn btn-primary">Login</a>
			<a href="/allStories" class="btn btn-success">All stories</a>
		</div>
	</div>


	<div class="row" ng-if="loggedIn" >
		


		<div class="col-md-4" ng-controller="StoryController">
			<div class="row">
				<div class="panel panel-primary">
					<div class="panel-heading">Write your Story</div>
					<div class="panel-body">
						<form ng-submit="createStory()" method="post">
							<input type="text" class="form-control input-lg" ng-model="storyData.content" placeholder="....." required>
						</form>
					</div>
				</div>
				<div class="panel panel-success">
					<div class="panel-heading">Your Story</div>
					<div class="panel-body" ng-repeat="story in stories | reverse">
						<p>{{story.content}}</p>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>



